{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "description": "The IPVM reference implementation",
  "homepage": "https://github.com/ipvm-wg/homestar/tree/main/homestar-runtime",
  "repository": {
    "url": "ipvm-wg/homestar",
    "directory": "homestar-runtime"
  },
  "keywords": ["homestar", "wasm", "wit", "webassembly", "workflows", "scheduling"],
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Hugo Dias <hugomrdias@gmail.com> (hugodias.me)",
  "license": "Apache-2.0",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
