{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Hugo Dias <hugomrdias@gmail.com> (hugodias.me)",
  "license": "MIT",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
