
*

!**/Cargo.toml
!**/Cargo.lock
!**/build.rs
!**/src
!**/src/test_utils
!**/config
!**/migrations
!diesel.toml
!**/wit
!**/schemas/api.json

examples
homestar-functions
homestar-workspace-hack
homestar-schemas
