use_flake

export RUST_LOG=homestar=debug,homestar_runtime=debug,homestar_wasm=debug,wasi_common=info,libp2p=info,libp2p_gossipsub::behaviour=debug,tarpc=info,tower_http=debug,jsonrpsee_server=debug,moka=debug
export RUST_BACKTRACE=full
export RUSTFLAGS="--cfg tokio_unstable"
