use_flake

export RUST_LOG=homestar=debug,homestar_runtime=debug,libp2p=info,libp2p_gossipsub::behaviour=debug,tarpc=info,tower_http=debug
export RUST_BACKTRACE=full
export RUSTFLAGS="--cfg tokio_unstable"
