@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uncut Sans";
  src: url("/UncutSans-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  src: url("/IBMPlexMono-Regular.ttf") format("truetype");
}


/* Svelvet */
.label-wrapper .default-label {
  @apply font-sans text-xs !important;
}
